html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: rgb(218, 193, 161);
}
.title {
  text-align: center;
  position: relative;
  font-size: 4rem;
  border: 1rem solid;
  margin: 5rem;
  background-color: rgb(228, 170, 61);
  font-family: "Courier New", Courier, monospace;
  box-shadow: 0 25.6px 57.6px 0 rgb(0 0 0 / 22%),
    0 4.8px 14.4px 0 rgb(0 0 0 / 18%);
}
.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.card {
  width: 21%;
  height: 55vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3rem;
}
.card-title {
  background-color: rgb(230, 160, 32);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  padding: 3%;
  border-radius: 50%;
  border: 1rem ridge rgb(255, 166, 0);
}
.card-image {
  width: 400px;
  height: 200px;
  border: 2rem ridge rgb(216, 147, 44);
}
.card-description {
  font-size: 2rem;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background-color: rgb(226, 156, 25);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 3%;
  border-radius: 3%;
  border: 1rem ridge rgb(218, 151, 50);
}
.card:hover{
  background-color: blanchedalmond;
}