html, body {
    padding: 0;
    margin: 5rem;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: rgb(255, 145, 0);
}
.title {
    text-align: center;
    position: relative;
    font-size: 4rem;
    border: 1rem solid;
    margin-bottom: 10rem;
    background-color: orange;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 25.6px 57.6px 0 rgb(0 0 0 / 22%), 0 4.8px 14.4px 0 rgb(0 0 0 / 18%);
}
.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}
.card {
    width: 20vw;
    height: 50vh;
    align-items: center;
}
.card-title {
    background-color: orange;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 1%;
    border-radius: 50%;
}
.card-image {
    width: 400px;
    height: 200px;
}
.card-description{
    font-size: 2rem;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background-color: orange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 3%;
    border-radius: 3%;
}