body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
/* Use of Flexbox to organize elements:
includes use of justify content AND
align items
Application of box shadow
Custom Font Used
Utilize classes or ID’s for selection
Hosted on Netlify or Vercel